/*
** RTL Mixins including margin, pading, position, border and border radius
** See documentation https://www.npmjs.com/package/rtl-sass
*/

@import "./fonts";

@import "~/node_modules/rtl-sass/src/_rtl.scss";

/*
** Custom variable
*/
@import "./variables";

/*
** Custom mixins
*/
@import "./mixins";

/*
** Custom functions
*/
@import "./functions";

/*
** Custom media queries
*/
@import "./media-queries";

/*
** Commons scss class
*/
@import "./common";

/*
** Image API variable
*/
@import "./url-img";

body {
  font-family: "Mizan", "Open Sans", sans-serif !important;
}

.listItems {
  background: transparent;
}

.logo {
  white-space: nowrap;
}
.nuxtLink {
  text-decoration: unset;
  color: unset;
}

.containerStyles {
  width: 100%;
  height: 100% !important;
  .playerStyles {
    width: 100%;
    height: 100% !important;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.threeDots {
  display: inline-block;
  overflow: hidden !important;
  max-inline-size: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noThreeDots {
  display: inline; /* Set back to default value */
  overflow: visible !important; /* Set back to default value */
  max-inline-size: none; /* Set back to default value */
  text-overflow: clip; /* Set back to default value */
  white-space: normal; /* Set back to default value */
}

/* .header-color, */
// .white-color{
//   color: white !important;
// }
